.Games {width:100%;}
.ListOfGames {margin-top:76px;
    background-color: #333;
   color: #ffffff;
   font-weight: bold;
   font-size: 20px;
    width:100%;}
.Title {background-color: #333;
    border-color: #340744;
    color:#f2f2f2;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    text-align: center;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 14px; 
    padding-bottom: 16px;
    margin:0;}
.Form {margin-top:76px;
    background-color: #333;
   color: #ffffff;
   font-weight: bold;
   font-size: 20px;
   border: 1px solid #54585d;
    text-align:center;
    width:25%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:15px;}
.Button {margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
margin-top:16px;
margin-bottom: 16px;}

.ListOfGamesOne {
    background-color: #333;
    border-color: #340744;
    color:#f2f2f2;
    display: inline-block;
    text-align:center;
    width:25%;
    margin-left:0%;
}
.ListOfGamesTwo {
    background-color: #333;
    border-color: #340744;
    color:#f2f2f2;
    display: inline-block;
    text-align:center;
    width:25%;
}
.ListOfGamesThree {
    background-color: #333;
    border-color: #340744;
    color:#f2f2f2;
    display: inline-block;
    text-align:center;
    width:25%;
}
.ListOfGamesFour {
    background-color: #333;
    border-color: #340744;
    color:#f2f2f2;
    display: inline-block;
    text-align:center;
    width:25%;
}